<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form" ng-controller="LoginCtrl" ng-submit="userLogin()">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus ng-model="username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <div class="alert alert-danger alert-dismissable" ng-if="message">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{message}}
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" id="submit" value="Login" class="btn btn-lg btn-success btn-block"/>
                            <a class="btn btn-lg btn-github" ng-href="{{githubURL}}">Github</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>